.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  background: url(/path.png) left top / 100% 100% no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconBox {
  position: relative;
  top: 65%;
}

@-webkit-keyframes poyooon {
  0% {
    -webkit-transform: scale(1, 1) translate(0%, 0%);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  40% {
    -webkit-transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  50% {
    -webkit-transform: scale(1, 1) translate(0%, 0%);
  }
  60% {
    -webkit-transform: scale(0.9, 1.2) translate(0%, -100%);
  }
  75% {
    -webkit-transform: scale(0.9, 1.2) translate(0%, -20%);
  }
  85% {
    -webkit-transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0%, 0%);
  }
}

@keyframes poyooon {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  10% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  40% {
    transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  50% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  60% {
    transform: scale(0.9, 1.2) translate(0%, -100%);
  }
  75% {
    transform: scale(0.9, 1.2) translate(0%, -20%);
  }
  85% {
    transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}

.icon {
  animation: poyooon 1.8s linear 0s 1;
  animation-iteration-count: infinite;
}
