.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/map.jpg) left top / auto 100% no-repeat;
  height: 70vh;
}

.links {
  display: flex;
  justify-content: center;
  height: 20%;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
