.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .main {
    background: url(/map.jpg) left top / auto 100% no-repeat;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .iconBox {
    flex: 1;
  }
}
